<div [formGroup]="mockReplyEmail">
  <mat-form-field>
    <mat-label>From</mat-label>
    <input matInput [formControl]="mockReplyEmail.controls.user">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Id</mat-label>
    <input matInput [formControl]="mockReplyEmail.controls.emailId">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Message</mat-label>
    <input matInput [formControl]="mockReplyEmail.controls.message">
  </mat-form-field>
</div>
<button mat-button (click)="sendReply()">Send</button>
